.vote-form {
    padding: 20px;
    color: white;
    background-color: #E0675E;
}

.poll-options {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
    font-size: 25px;
    float: left;
}

.poll-options:hover {
    background-color: #FA8279;
    
}

.poll-chart {
    width: 100%;
    height: 300px;
}

.selected {
    background-color: #D25B52;
}

.selected:hover {
    background-color: #D25B52;
}

.poll-options:hover:before {
  color: #E0675E;
}

.poll-options:before {
  content:'>';
  display:inline-block;
  vertical-align: top;
  line-height: 1.3em;
  width: 1em;
  height: 1em;
  margin-right: .2em;
  text-align: center;
  color: #FA8279;
}